/node_modules
/public/hot
/public/storage
/public/video_panduan/* 
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/public/file_upload/excel/*
/public/file_upload/usulan/*